$gray: #e8e8e8;
$dark: oklab(0.35016 0.00197881 -0.0119994);
$border-radius: 5px;
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$white: white;
$gap: 10px;
$primary: rgb(88, 101, 242);
$secondary:  rgb(141, 161, 252);